{{define "inicio"}}
{{template "header"}}
  
        <a name="" id="" class="btn btn-primary" href="/crear" role="button">Agregar Empleado</a>

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Leo Renn</td>
              <td>rennleonardo@gmail.com</td>
              <td>Editar | Borrar</td>
      
            </tr>
            <tr>
              <td scope="row"></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
         </table>
         
         {{template "pie"}}
{{end}}